*.user
.git
*~
node_modules/
**/Web_build
.eslintcache
*/working_dir*
build*
AppImageInstaller
# .vscode
CMakeLists.txt.user*
*.mat
*.autosave
env.*
.build*
*.tif
*.ini
working_dir
*.bin
*.asv
.cache/
*.tar.gz
*.rpm